body {
    background: #47a;
    color: #fed;
    font-family: 'Droid Sans', 'DejaVu sans', sans, sans-serif;
}

h2 {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #247;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}

h2 .ue {
    padding-top: 1em;
    color: #Bca;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
}

#cdiv {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    background: #fff;
}

#c {
    width: 100%;
    height: 100%;
}

#debug {
    overflow: auto;
    border: none;
    float: left;
    background: rgba(0,0,0,0.5);
    color: white;
    position: fixed;
    width: 100%;
    height: 8em;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 5pt;
    font-family: 'Droid Sans Mono','DejaVu sans mono';
    font-size: 8pt;
    resize: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

#debug .err {
    color: #f44;
    font-weight: bold;
}
